
NEXT_PUBLIC_API_URL=https://backend.Dazzling Divabd.com
NEXT_PUBLIC_SUPABASE_URL=https://pzgcjjcgmpypdctaxhih.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6Z2NqamNnbXB5cGRjdGF4aGloIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0NTI1MTAsImV4cCI6MjA4OTAyODUxMH0.PeSWhorLHB57eSmgUe3E4-aM-M_uBjBNQlcle9EBZoo
